---
title: Tanner Doshier
meta-description: The personal site of Tanner Doshier (doshitan), a GNU/Linux, GNOME, and free software enthusiast. Chronicled here are my software development exploits.
---
<div class="row">
  <div class="col-sm-6">
    <h1>Hey you!</h1>

    <p>There’s not much going on in these parts at the moment, but feel free to
    poke around.</p>
  </div>

  <div class="col-sm-6">
      <h1>Tags</h1>
      $tag-cloud$
  </div>
</div>

<h2>Recent Posts</h2>

$partial("templates/post-list.html")$

<a href="/log/" class="btn btn-default btn-lg btn-block">All Posts</a>
