<ul class="list-inline meta">
  <li>
    <a tabindex=0 role="button" data-toggle="popover" data-trigger="focus"
      data-html=true data-placement="bottom"
      data-content="<p>Last Modified: <time datetime='$date-modified-machine$'>$date-modified$</time></p><i class='fa fa-code-fork fa-fw'></i><a href='https://gitlab.com/doshitan/doshitan.com/commits/master/$path$'>History</a>"
      >
        <time datetime="$date-machine$" pubdate class="published">$date$</time>
    </a>
  </li>
  <li>&bull;</li>
  <li class="tags">$tags$</li>
</ul>
